extends layouts/main-layout.pug

block content

    .searchBarContainer
        i.fal.fa-search
        input#searchBox(type="text", name="searchBox", data-search=selectedTab, placeholder="Search for users of posts")

    .tabsContainer
        +createTab("Posts", `/search/posts`, selectedTab != "users")
        +createTab("Users", `/search/users`, selectedTab == "users")

    .resultsContainer

    +createPostModals(userLoggedIn)

block scripts
    script(src="/js/search.js")